mat-card {
    width: 192px;
    border-radius: 20%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .card-image {
    width: 192px;
    border-radius: 20% 20% 20% 20% !important;
  }
  
  mat-card-footer {
    margin-top: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(43, 42, 42, 0.5);
    width: 300px;
    height: 300px;
    transition: all 400ms ease-out;
    text-align: center;
    text-align: start;
  }
  
  .user-avatar {
    background-color: black;
    position: absolute;
    top: 15%;
    left: 5%;
  }
  .text{
    position: absolute;
    top: 15%;
    left: 19%;
  }
  
  mat-card-footer:hover {
    opacity: 1;
  }
  
  mat-card-footer .footer-content {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  
  mat-card-footer:hover .footer-content {
    opacity: 1;
    transform: translateY(100px);
  }
  .menuSection{
    position: absolute;
    right: 15px;
    z-index: 100;
  }
  