
<div class="container">
    <div class="row">
      <div class="col-md-2">
     
      </div>
      <div class="col-md-10">
        <a class="btn btn-primary toggle-btn" (click)="toggleSidebar()">Toggle Sidebar</a>
        <p>Main Content</p>
      </div>
    </div>
  </div>
  
  
  <nav id="sidebar" [ngClass]="{ 'active': sidebarVisible }">
    <div class="sidebar-header">
      <h3>Sidebar</h3>
    </div>
  
    <ul class="list-unstyled components">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  
    <button class="btn btn-primary toggle-btn" (click)="toggleSidebar()">Toggle Sidebar</button>
  </nav>
  
  <div id="content">
    <button class="btn btn-primary toggle-btn" (click)="toggleSidebar()">Toggle Sidebar</button>
    <p>Main Content</p>
  </div>
  