
.top{
    justify-content: center;
    background-color: blueviolet;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.top > *{
    margin-top: 10px;
}
.panels-area{
margin-top: 40px;
}
mat-accordion{
    position: relative;
}
.active {
    background-color: #f8f9fa; /* Example background color */
    color: #007bff; /* Example text color */
    font-weight: bold; /* Example font weight */
  }
  