.tree-invisible {
    display: none;
  }
  
  .tree ul,
  .tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
.node{
    display: flex;
    flex-direction: column;
}

.mat-tree-node:hover, .mat-nested-tree-node:hover {
 background-color: rgba(0, 0, 0, 0.1);
}

.node {
  display: flex;
  flex-direction: column;
}

/* Style for the top part of the node */
.top-node {
  display: flex;
  align-items: center;
 // justify-content: space-between;
}

/* Style for the bottom part of the node (Descriptif) */
.bottom-node {
  padding-top: 1rem;
  color: #333; /* Dark text color for the Descriptif */
  font-size: 14px; /* Adjust font size as needed */
  margin-left: 1rem;
}

