<!-- <mat-card class="custom-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <div class="header-content">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </div>
      <button mat-icon-button class="favorite-button">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab class="material-icons">
           thumb_up
           
        </button>
      
      <button mat-mini-fab>
        <mat-icon> share</mat-icon>
       
    </button>
    </mat-card-actions>
  </mat-card>
   -->
   
   <div class="card shadow-sm">
    <div style="z-index: 3;position: absolute; right: 0; margin: 3px;"  (click)="changeState()">
      <mat-icon color="accent">{{liked?'favorite':'favorite_border'}}</mat-icon>
    </div>
    <mdb-carousel [controls]="true" [indicators]="false">
      <mdb-carousel-item [interval]="100000">
        <img class="d-block w-100"
        src="../../assets/images/category/immobilier/img1.png" style="border-radius: 5px 5px 0 0; height: 150px;" alt="">
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="100000">
        <img class="d-block w-100"
        src="../../assets/images/category/immobilier/img2.jpg" style="border-radius: 5px 5px 0 0; height: 150px;" alt="">
      </mdb-carousel-item>
    </mdb-carousel>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img src="../../assets/images/category/profile/user.jpg" class="mr-2" style="width: 30px; border-radius: 50%;" alt="">
        </div>
        <div class="col-7 mt-2">
          <p><strong>Mohcine Boudenjal</strong></p>
        </div>
      </div>
      <p class="card-text">I will build you a house.</p>
      <div class="row">
        <div class="col-1">
          <mat-icon>star</mat-icon>
        </div>
        <div class="col-3 mt-1 mx-2">
          <p class="">5.9</p>
        </div>
      </div>
    </div>
  </div>
