.custom-card {
    max-width: 400px; /* Adjust the card's maximum width as needed */
    margin: 0 auto; /* Center the card horizontally */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .user-avatar {
    width: 30px; /* Adjust the user avatar size as needed */
    height: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
  }
  
  .header-content {
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
  }
  
  .favorite-button {
    margin-left: auto;
  }
  
  .card-image {
    width: 13vw; /* Adjust the width of the card image to fit the container */
    height: inherit; /* Let the height adjust proportionally */
    object-fit: cover;
  }
  
  .mat-card-content {
    padding: 16px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

  }