<mat-card class="custom-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <div class="header-content">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </div>
      <button mat-icon-button class="favorite-button">
        <mat-icon (click)="favorise()">{{favorite}}</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab class="material-icons">
           thumb_up
           
        </button>
      
      <button mat-mini-fab>
        <mat-icon> share</mat-icon>
       
    </button>
    </mat-card-actions>
  </mat-card>
  
