<div class="icon-container">
    <div class="icon-wrapper">
      <mat-icon class="icon" color="primary">home</mat-icon>
      <span class="icon-label">Home</span>
    </div>
    <div class="icon-wrapper">
      <mat-icon class="icon" color="primary">home</mat-icon>
      <span class="icon-label">Home</span>
    </div>
    <div class="icon-wrapper">
      <mat-icon class="icon" color="primary">home</mat-icon>
      <span class="icon-label">Home</span>
    </div>
    <div class="icon-wrapper">
      <mat-icon class="icon" color="primary">home</mat-icon>
      <span class="icon-label">Home</span>
    </div>
</div>