<section class="vh-60 mt-5">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center cont align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="bg-transparent text-black" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-2 mt-md-5 pb-5">
                            <p class="mb-2 display-6" style="color:#6301e1">Confirm Reset Password</p>
                            <p class="text-dark-50 mb-5 h6" style="color:#6301e1">Please write the code that you recieve in email</p>
                            <div class="example-container my-5">
                                <code-input [isCodeHidden]="false"
                                [codeLength]="6"
                                (codeChanged)="onCodeChanged($event)"
                                (codeCompleted)="onCodeCompleted($event)">
                                </code-input>                                
                            </div>
                            <button mat-raised-button color="primary" (click)="verifyCode()"
                                style="font-size: 17px; width: 80%;height: 50px;">Confirm</button>
                               
                        </div>
                        <p class="text-dark-50 h6" style="color:#b267fd">You have not recieve the code : </p>
<div>
    <a href="#" routerLink="/log"
    class="text-black-50 fw-bold "> <button mat-stroked-button 
    style="font-size: 17px; width: 80%;height: 50px; background-color: #5b6cff; color: white; margin-top: 10px;">Resend code</button></a>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>