<section class="vh-60 mt-5">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center cont align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="bg-transparent text-black" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-2 mt-md-5 pb-5">
                            <p class="mb-2 display-6 text-primary">Change password</p>
                            <p class="text-dark-50 mb-5 h6 text-primary">Please choose a strong password and remember it</p>
                            <div class="example-container my-5">
                                <mat-form-field style="width: 80%;" appearance="outline">
                                    <mat-label>Enter new password</mat-label>
                                    <input matInput class="input" [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field style="width: 80%;" appearance="outline">
                                    <mat-label>Confirm password</mat-label>
                                    <input matInput class="input" [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button mat-raised-button color="primary"
                                style="font-size: 17px; width: 80%;height: 50px;" (click)="changePassword()">Apply changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>