

<div class="head bg-black">

    <div class="container cont-head bg-black text-white">
        <div class="row">
          <div class="head-content col-md-7 order-md-1">
            <div class="text-section">
              <div class="path">
                <p class=" text-white">landing-page / item / show</p>
              </div>
              <div class="proj-title">
                <h1>{{proj.titel_project}}</h1>
                <p> {{proj.short_description}}</p>
              </div>
            </div>
          </div>
          <div class="image-section  col-md-5  order-md-2">
            <img [@imageChange]="imageState" [src]="mainImageUrl" alt="Image">
          </div>
        </div>
      <div class="button  order-md-3  d-flex d-md-flex d-lg-none justify-content-center align-content-center">
        <button type="button" style="width:60%;  font-size:1.1rem;" class="btn btn-primary">Use This Model</button>
      </div>
      </div>
      
    
    <div class="card col-md-4" [ngClass]="{'card-1': card_1, 'card':card,'card_2':card_2}"
      (window:scroll)="onScroll()">
      <div class="card-image" >
        <img [@imageChange]="imageState" [src]="mainImageUrl"  alt="Image" class="image-card">
      </div>
    
      <div class="button d-flex justify-content-center align-content-center p-0 m-0">
        <button type="button" style="width: 70%; font-size: 1.1rem; height: 3.rem;" class="btn btn-primary p-1 m-0 ">Use This Model</button>
      </div>
    
    <div class="card-cont  ">

  <div class="creators  d-flex justify-content-start align-content-start mx-1 p-3" *ngFor="let person of proj.creator">
  
    <img class="creator-img" [src]="person.photo" alt="Creator Photo"><span class="mx-3">{{ person.nome }}</span>

  </div>
<div class="rating-sec d-flex justify-content-start  align-content-start">
  <div class="rating p-1">
 <app-rating [currentRating]='proj.rating' [isReadOnly]="true"></app-rating>
 
  </div>
</div>



  <div class="views p-1">
    <span class="stat">Views Number :</span><span class="stats">{{proj.views}}</span>
  </div>
  <div class="likes  p-1">
    <span class="stat">Likes : </span> <span class="stats">{{proj.likes}}</span>
  </div>
  <div class="usage  p-1">
    <span class="stat">Usage : </span> <span class="stats">{{proj.usage}}</span>
  </div>
  <div class="reviwes  p-1">
      <span class="stat">Usage : </span> <span class="stats">{{proj.reviews_number}}</span>
  </div>
</div>
      </div>




     
</div>
<div class="container">
<div class="row">
  <div class="col-lg-7 mb-4 mt-4 ">
    <div class="titel">
      <h1 class="context">Objectives</h1>
    </div>
    <div class="list-context">
      <ul class="ul">
        <app-objectif-result></app-objectif-result>
    
      </ul>
    </div>
    <div class="proj-content">
        <h1 class="context" >Project Content</h1>
        <mat-tab-group>
          <mat-tab label="description">
            {{proj.description}}
             </mat-tab>
          <mat-tab label="Who this course is for:">
          <ul>
            <li>            Office workers, students, small/home business workers, and administrators would want to improve their productivity.
            </li>
            <li>Aspiring software engineers who want to add skills to their programming toolbelt.
            </li>
            <li>Computer users who have heard the "learn to code" message, but want practical reasons to learn programming.
            </li>
            <li>Experienced Python software engineers can skip the first half of the course, but may find the later parts that cover various third-party modules helpful.
            </li>
            <li>While this course doesn't cover specific devops tools, this course would be useful for QA, devops, and admins who want to learn scripting in Python.
            </li>
          </ul>
          
          </mat-tab>
         
        </mat-tab-group>
    </div>
  </div>
  <div class="col-lg-5 infos d-none d-md-none d-lg-block d-flex justify-content-center">
   
  </div>
</div>




</div>


<div class="container">
  <div class="row">
    <div class="enjeux col-md-7">
      <h1>Enjeux</h1>
      <mat-accordion>
        <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <div class="Chronogramme my-4 col-md-7">
      <h1>Chronogramme</h1>
     
        <div class="chronogram  " id="chronogram">
          <app-gantt class="chronogram"></app-gantt>
        </div>
      
    
    </div>
 

  </div>
</div>

<div class="container arbres ">
  <h1>Les arbres Problem/Solution</h1>

  <div class="row">
    <div class="col-md-7">
      
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            arbre des Problems
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group  #tabGroup (selectedTabChange)="onTabChange($event)">
          <mat-tab label="Arbre" >
            <div class="arbre-prob orgChart m-0 p-0 ">
              <app-tree [id_cont]="'org2'"  [type]="'problem'" ></app-tree>
            </div>
          </mat-tab>
          <mat-tab label="Causes" >
            <app-activity-task></app-activity-task>
          </mat-tab>
          <mat-tab label="Sequence" >
            <app-sequence></app-sequence>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>

      
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              arbre des Problems
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-tab-group>
            <mat-tab label="Arbre"> 
              <div class="arbre-solution  col-md-7">
                <app-tree [id_cont]="'org1'"  [type]="'solution'"></app-tree>
              </div>
            </mat-tab>
               <mat-tab label="Impact" class="Cause-sec">
             <app-hypothese></app-hypothese>

               </mat-tab>
          </mat-tab-group>
       
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
    </div>
</div>