.cont-head{
    width: 100vw;
    height: auto;
}

.head-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  
  .text-section {
    flex-basis: 100%;
  }
  
  .path {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .proj-title h1 {
    font-size: 1.3rem!important;
  }
  
  .image-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   padding: 15px 0;
  }
  
  img {

    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 991px) {
    .head-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .image-section {
      align-self: flex-start;
      margin-top: 0;
      margin-bottom: 10px;
    }
  
    .order-md-1 {
      order: 2;
    }
  
    .order-md-2 {
      order: 1;
    }
  }
  
  .rating {
    display: flex;
    align-items: start;
    justify-content: flex-start;
  }
  .vide{
    height: 600px;
  }



  .container.cont-img {
    margin-top: 20px;
  
  }
  


  
  .thumbnail-images {
    display: flex;
    align-items: center;
  }
  
  .thumbnail-images img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #mainImage {
   
    width: 100%;
    height: 250px;
  }
  
  .description {
    padding: 20px 0;
    font-size: 1rem;
   
  }
  