

<div class="head bg-black">

    <div class="container cont-head bg-black text-white">
        <div class="row">
          <div class="head-content col-md-7 order-md-1">
            <div class="text-section">
              <div class="path">
                <p class=" text-white">landing-page / item / show</p>
              </div>
              <div class="proj-title">
                <h1>Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]</h1>
                <p>Learn to create Machine Learning Algorithms in Python and R from two Data Science experts. Code templates included.</p>
              </div>
              <div class="rating d-flex align-items-start">
                <span class="mr-2">Rating</span>
                <span class="d-flex align-content-center justify-content-center">
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                </span>
                <span><a class="mx-2" routerLink="/show" href="#">(298,239 ratings)</a></span>
              </div>
              <div class="creators my-4">
                <span class="">Created By: zakariae, Mouhsin, Mouhamed, Chihab</span>
              </div>
              <div class="more-info">
                <span class="d-flex align-content-center my-1">
                  <mat-icon>error_outline</mat-icon> Last updated 7/2023
                </span>
                <span class="d-flex align-content-center my-1">
                  <mat-icon>language</mat-icon> English
                </span>
                <span class="d-flex align-content-center my-1">
                  <mat-icon>subtitles</mat-icon> English [Auto], Arabic [Auto]
                </span>
              </div>
            </div>
          </div>
          <div class="image-section col-md-5  order-md-2">
            <img src="../../assets/images/sos.png" alt="Image">
          </div>
        </div>
      </div>
      <div class="button   d-flex d-md-flex d-lg-none justify-content-center align-content-center">
        <button type="button" style="width:60%;  font-size:1.1rem;"   class="btn btn-primary">Use This Model</button>
      
      </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-7 mb-4 mt-4 ">
    <div class="titel">
      <h1 class="context">What the project talk about</h1>
    </div>
    <div class="list-context">
      <ul class="ul">
        <li>Automate tasks on their computer by writing simple Python programs.</li>
        <li>Programmatically generate and update Excel spreadsheets.</li>
        <li>Crawl web sites and pull information from online sources.</li>
        <li>Write programs that can do text pattern recognition with "regular expressions".</li>
        <li>Parse PDFs and Word documents.</li>
        <li>Write programs that send out email notifications.</li>
        <li>Programmatically control the mouse and keyboard to click and type for you.</li>
      </ul>
    </div>
    <div class="proj-content">
        <h1 class="context" >Project Content</h1>
        <mat-tab-group>
          <mat-tab label="description"> If you're an office worker, student, administrator, or just want to become more productive with your computer, programming will allow you write code that can automate tedious tasks. This course follows the popular (and free!) book, Automate the Boring Stuff with Python.

            Automate the Boring Stuff with Python was written for people who want to get up to speed writing small programs that do practical tasks as soon as possible. You don't need to know sorting algorithms or object-oriented programming, so this course skips all the computer science and concentrates on writing code that gets stuff done.
            
            This course is for complete beginners and covers the popular Python programming language. You'll learn basic concepts as well as:
           <ul>

             <li>Web scraping</li>
             <li>Parsing PDFs and Excel spreadsheets</li>
             <li>Automating the keyboard and mouse</li>
             <li> Sending emails and texts</li>
             <li>And several other practical topics</li>
           </ul>
            
            
            
           
            
            By the end of this course, you'll be able to write code that not only dramatically increases your productivity, but also be able to list this fun and creative skill on your resume. </mat-tab>
          <mat-tab label="Who this course is for:">
          <ul>
            <li>            Office workers, students, small/home business workers, and administrators would want to improve their productivity.
            </li>
            <li>Aspiring software engineers who want to add skills to their programming toolbelt.
            </li>
            <li>Computer users who have heard the "learn to code" message, but want practical reasons to learn programming.
            </li>
            <li>Experienced Python software engineers can skip the first half of the course, but may find the later parts that cover various third-party modules helpful.
            </li>
            <li>While this course doesn't cover specific devops tools, this course would be useful for QA, devops, and admins who want to learn scripting in Python.
            </li>
          </ul>
          
          </mat-tab>
         
        </mat-tab-group>
    </div>
  </div>
  <div class="col-lg-5 infos d-none d-md-none d-lg-block d-flex justify-content-center">
    <div class="card d-flex col-lg-4    " style="width: 90%; height:auto;   margin-bottom:-200px;">
        <div class="price d-flex justify-content-center" style="padding: 1.4rem; font-weight:600;">
         <span> <strong style="font-size: 1.4rem;">$11.99 </strong>  </span> 
         <span class="old-price"  style="font-size: 1rem;font-weight:100;">Original Price <del>$74.99</del> 84% off</span>
        </div>
        <div class="button d-flex  justify-content-center align-content-center">
          <button type="button" style="width:70%;  font-size:1.1rem;"   class="btn btn-primary">Use This Model</button>
        
        </div>
        <div class="button d-flex  justify-content-center align-content-center">
          <button type="button" style="width:70%;  font-size:1.1rem;"   class="btn btn-primary">Buy This Model </button>
        
        </div>

        <div class="costs">
          <h1 style="padding: 5px 10px 0 10px; Font-size:1.2rem;">This course includes:</h1>
          <ul class="costs-list d-block align-content-center">
            <li class="d-flex align-content-center"> 	<mat-icon>play_circle_outline</mat-icon>   9.5 hours on-demand video</li>
            <li> 	<mat-icon>play_for_work</mat-icon> 95 downloadable resources</li>
            <li> 	<mat-icon>smartphone</mat-icon> Access on mobile and TV </li>
            <li> <mat-icon>hourglass_empty</mat-icon> Full lifetime access</li>
          </ul>
        </div>   
    </div>
  </div>
</div>
</div>