<div class="head bg-black">

    <div class="container cont-head bg-black text-white">
        <div class="row">
          <div class="head-content col-md-7 order-md-1">
            <div class="text-section">
              <div class="path">
                <p class=" text-white">landing-page / item / show</p>
              </div>
              <div class="proj-title">
                <h1>Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]</h1>
                <p>Learn to create Machine Learning Algorithms in Python and R from two Data Science experts. Code templates included.</p>
              </div>
              <div class="rating d-flex align-items-start">
                <span class="mr-2">Rating</span>
                <span class="d-flex align-content-center justify-content-center">
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                  <mat-icon>stars</mat-icon>
                </span>
                <span><a class="mx-2" routerLink="/show" href="#">(298,239 ratings)</a></span>
              </div>
              <div class="creators my-4">
                <span class="">Created By: zakariae, Mouhsin, Mouhamed, Chihab</span>
              </div>
              <div class="more-info">
                <span class="d-flex align-content-center my-1">
                  <mat-icon>error_outline</mat-icon> Last updated 7/2023
                </span>
                <span class="d-flex align-content-center my-1">
                  <mat-icon>language</mat-icon> English
                </span>
                <span class="d-flex align-content-center my-1">
                  <mat-icon>subtitles</mat-icon> English [Auto], Arabic [Auto]
                </span>
              </div>
            </div>
          </div>
          <div class="image-section col-md-5  order-md-2">
            <img src="../../assets/images/sos.png" alt="Image">
          </div>
        </div>
      </div>
      
</div>
<div class="container cont-img">
    <div class="row" >
      <div class="col-md-5">
        <img id="mainImage" [src]="mainImageUrl" alt="Main Image">
      </div>
      <div class="col-md-7">
        <div class="description">
          Office workers, students, small/home business workers, and administrators would want to improve their productivity.
          Aspiring software engineers who want to add skills to their programming toolbelt.
          Computer users who have heard the "learn to code" message, but want practical reasons to learn programming.
          Experienced Python software engineers can skip the first half of the course, but may find the later parts that cover various third-party modules helpful.
          While this course doesn't cover specific devops tools, this course would be useful for QA, devops, and admins who want to learn scripting in Python.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 my-1">
        <div class="thumbnail-images">
          <img src="../../assets/images/test.jpg" alt="Thumbnail Image 1" (click)="displayImage('../../assets/images/test.jpg')">
          <img src="../../assets/images/paragliding-in-pokhara.jpg" alt="Thumbnail Image 2" (click)="displayImage('../../assets/images/paragliding-in-pokhara.jpg')">
          <img src="../../assets/images/sos.png" alt="Thumbnail Image 3" (click)="displayImage('../../assets/images/sos.png')">

          <img src="../../assets/images/sos.png" alt="Thumbnail Image 3" (click)="displayImage('../../assets/images/sos.png')">
          <!-- Add more thumbnail images as needed -->
        </div>
      </div>
    </div>
  </div>
  

  <div class="vide"></div>
  