
<!-- <app-side-of-dashboard [getData]="obj"></app-side-of-dashboard> -->

<div class="sidebar close">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Projecto</span>
  </div>



  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">Info general</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Chart</a></li>
      </ul>
    </li>
    <li>

      <div class="iocn-link">
        <a routerLink="gestion-activite">
      
          <i class="bi bi-clipboard2-data-fill"></i>
          <span class="link_name">Gestion d'activités</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu" >
        <li><a class="link_name" routerLink="gestion-activite"><span class="bi bi-clipboard2-data-fill mx-2"></span>Gestion d'activités</a></li>
        <li><a routerLink="gestion-activite/tasks"><span class="bi bi-hourglass-split mx-2"></span>Gestion des tâches </a></li>
        <li><a routerLink="gestion-activite/rh"><span class="bi bi-people-fill mx-2"></span>Gestion des RH</a></li>
        <li><a routerLink="gestion-activite/financiere"><span class="bi bi-cash-coin mx-2"></span> Gestion financière</a></li>
        <li><a routerLink="gestion-activite/financiere"><span class="bi bi-box-seam-fill mx-2"></span> Gestion des livrables</a></li>
        <li><a routerLink="gestion-activite/financiere"><span class="bi bi-repeat mx-2"></span> Gestion suivi et pilotage</a></li>
        <li><a routerLink="gestion-activite/risques"><span class="bi bi-browser-safari mx-2"></span>Gestion des risques</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a routerLink="/dash/projects">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Administration</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Administration
        </a></li>
        <li><a href="#">Gestion des compte</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Card Design</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="link_name">Analytics</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Analytics</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-line-chart' ></i>
        <span class="link_name">Chart</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Chart</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Plugins</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Plugins</a></li>
        <li><a href="#">UI Face</a></li>
        <li><a href="#">Pigments</a></li>
        <li><a href="#">Box Icons</a></li>
      </ul>
    </li>

<!-- ==================================== -->
    <li>

      <a href="#">
        <i class='bx bx-compass' ></i>
        <span class="link_name">Explore</span>
      </a>

      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Explore</a></li>
      </ul>

    </li>
<!-- ==================================== -->


    <li>
      <a href="#">
        <i class='bx bx-history'></i>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">History</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="link_name">Setting</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li>
    <li>
  <div class="profile-details">
    <div class="profile-content">
      <img src="image/profile.jpg" alt="profileImg">
    </div>
    <div class="name-job">
      <div class="profile_name">Prem Shahi</div>
      <div class="job">Web Desginer</div>
    </div>
    <i class='bx bx-log-out' ></i>
  </div>
</li>
</ul>
</div>





<section class="home-section home-section-container" >
  <div class="home-content">
    <i class='bx bx-menu'></i>

    
    <app-header-of-dashboard></app-header-of-dashboard>
  
    <div class="mt-4" style="width: 100%;" ></div>
    <div class="scrollable-content" style="width: 100%;">
      
     






<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="house-door-fill" viewBox="0 0 16 16">
    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
  </symbol>
</svg>




   <router-outlet></router-outlet>


    </div>
  </div>
</section>



