<div class="container">
      <div class="row">

       
       
              <h2>Informations Générale </h2>
            <div class="col-md-8">

              <div class="page">
                <div class="timeline">
                  <div class="timeline__group">
                    <span class="timeline__year time" aria-hidden="true">Informations Générale</span>
                    <div class="timeline__cards">
                      <div class="timeline__card card">
                        <header class="card__header">
                          <time class="time" datetime="2008-02-02">
                            <span class="time__month">Descriptif</span>
                          </time>
                        </header>
                        <div class="card__content">
                          <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art director at Harper's Bazaar, and works as his assistant.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ducimus velit sint reprehenderit numquam quia iure nam, eaque est aliquam eos ratione voluptates aperiam consequuntur molestiae repellat atque nesciunt soluta?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga alias sint ipsam? Illo sapiente obcaecati ipsum laboriosam assumenda necessitatibus perspiciatis sequi itaque, similique at iusto suscipit hic dolor ab eum?
                          </p>
                        </div>
      
                       
      
      
                      </div>
                      <div class="timeline__card card">
                        <header class="card__header">
                          <time class="time" datetime="2008-09-01">
                            <span class="time__day">1</span>
                            <span class="time__month">Sept</span>
                          </time>
                          <h3 class="card__title r-title">The part of my life in University of Pennsylvania</h3>
                        </header>
                        <div class="card__content">
                          <p>Started from University of Pennsylvania. This is an important stage of my career. Here I worked in the local magazine. The experience greatly affected me</p>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="timeline__group">
                    <span class="timeline__year time" aria-hidden="true">Veille Stratégique</span>
                    <div class="timeline__cards">
                      <div class="timeline__card card">
                        <header class="card__header">
                          <time class="time" datetime="2008-07-14">
                            <span class="time__day">14</span>
                            <span class="time__month">Jul</span>
                          </time>
                        </header>
                        <div class="card__content">
                          <p>Travels to France, Italy, Spain, and Peru. After completing fashion editorial in Lima, prolongs stay to make portraits of local people in a daylight studio</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline__group">
                    <span class="timeline__year time" aria-hidden="true">Probléme ou Solution</span>
                    <div class="timeline__cards">
                      <div class="timeline__card card">
                        <header class="card__header">
                          <time class="time" datetime="2008-08-18">
                            <span class="time__day">28</span>
                            <span class="time__month">Aug</span>
                          </time>          
                        </header>
                        <div class="card__content">
                          <p>Upon moving to Brooklyn that summer, I began photographing weddings in Chicago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            <!-- ======================================== -->
            <div class="col-md-12 mt-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Veille Stratégique</mat-card-title>
             
                </mat-card-header>
                <mat-card-content>
                      <ul>
                        <li>Taxonomie of veille</li>
                        <li>Titre</li>
                        <li>Descriptif</li>
                      </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- ======================================== -->

          </div>
          <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
          <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
          </symbol>
          </svg>


            <div class="col-md-4">
            
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Protagoniste</mat-card-title>
             </mat-card-header>
              <mat-card-content>
                <div class="card mt-3" style="width: 100%;">

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">                       <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg> An item</li>


                    <li class="list-group-item">                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg> A second item</li>
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                     A third item</li>
                  </ul>
                </div>
              </mat-card-content>
            </mat-card>
          </div>





           <div class="col-md-8 mt-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Probléme ou Solution</mat-card-title>
           
              </mat-card-header>
              <mat-card-content>
                    <ul>
                      <li>Titre</li>
                      <li>Descriptif</li>
                      <li>Niveau</li>
                    </ul>
              </mat-card-content>
            </mat-card>
           </div>


           <div class="col-md-4">

           </div>




<!-- ============================================== -->
           <div class="col-md-8 mt-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>PBS (Product Breakdown Structure) de projet</mat-card-title>
           
              </mat-card-header>
              <mat-card-content>
                    <ul>
                      <li>Titre</li>
                      <li>Descriptif</li>
                      <li>Niveau</li>
                    </ul>
              </mat-card-content>
            </mat-card> 


           </div>
           <div class="col-md-4"></div>
         
<!-- ================================================ -->



<!-- ============================================== -->
<div class="col-md-8 mt-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>PBS (Product Breakdown Structure) de projet</mat-card-title>
 
    </mat-card-header>
    <mat-card-content>
          <ul>
            <li>Titre</li>
            <li>Descriptif</li>
            <li>Niveau</li>
          </ul>
    </mat-card-content>
  </mat-card> 


 </div>
 <div class="col-md-4"></div>

<!-- ================================================ -->

<!-- ============================================== -->
<div class="col-md-8 mt-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>PBS (Product Breakdown Structure) de projet</mat-card-title>
 
    </mat-card-header>
    <mat-card-content>
          <ul>
            <li>Titre</li>
            <li>Descriptif</li>
            <li>Niveau</li>
          </ul>
    </mat-card-content>
  </mat-card> 


 </div>
 <div class="col-md-4"></div>

<!-- ================================================ -->


<!-- ============================================== -->
<div class="col-md-8 mt-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>PBS (Product Breakdown Structure) de projet</mat-card-title>
 
    </mat-card-header>
    <mat-card-content>
          <ul>
            <li>Titre</li>
            <li>Descriptif</li>
            <li>Niveau</li>
          </ul>
    </mat-card-content>
  </mat-card> 


 </div>
 <div class="col-md-4"></div>

<!-- ================================================ -->





      </div>
</div>

