<ol style="--length: 7" role="list">
  <li style="--i: 1">
    <h3>Discovery and assessment</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
    <p><a routerLink="/dash/projects/5/gestion-activite/tasks/details-task/5">learn more ...</a></p>
  </li>
</ol>
<p>details-task works!</p>
<h4>Taxonomie</h4>
<h4>type Periode</h4>
<h4>date demarage referientille</h4>
<h4>descriptif</h4>
<h4>task oubligatoire ou optionnelle</h4>
<h4>etat d'avancement charts</h4>
<h4>les colabs ou protagonistes</h4>
