<div class="container">
    <side-bar #sideBarRef></side-bar>
    <h2>Recommended</h2>
    <section class="recommended">
        <button mat-icon-button class="material-icons recommended-arrows" >keyboard_double_arrow_left</button>
        <app-mini-project-card></app-mini-project-card>
        <app-mini-project-card></app-mini-project-card>
        <app-mini-project-card></app-mini-project-card>
        <button mat-icon-button  mat-icon-button class="material-icons recommended-arrows">keyboard_double_arrow_right</button>
    </section>
    <h2>Recent</h2>
    <section class="recent">
        <button mat-icon-button class="material-icons recommended-arrows" >keyboard_double_arrow_left</button>
        <app-mini-project-card></app-mini-project-card>
        <app-mini-project-card></app-mini-project-card>
        <app-mini-project-card></app-mini-project-card>
        <button mat-icon-button  mat-icon-button class="material-icons recommended-arrows">keyboard_double_arrow_right</button>
    </section>
    </div>