<app-hedaer [menuContent]="menuContentHeader" [isfixed]="false"></app-hedaer>
<div style="height: 80px;"></div>
<div class="container" style="width: 100%;justify-content: center;">
    <nav>
        <ng-container *ngFor="let breadcrumb of breadcrumbService.breadcrumbs; let last = last">
          <ng-container *ngIf="!last">
            <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a> &gt;
          </ng-container>
          <ng-container *ngIf="last">
            {{ breadcrumb.label }}
          </ng-container>
        </ng-container>
      </nav>
</div>
<router-outlet></router-outlet>