<div class="container-fluid ">
  <header class="pb-3 mb-4">
      <i class="bi bi-hourglass-split mx-3" style="font-size: 25px;"></i>
      <span class="fs-4">Gestion des tâches </span>
    
  </header>



<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link " [ngClass]="{'active':tab1}" #tab  (click)="changeDisplayTotab1()" aria-current="page" routerLink="/dash/projects/5/gestion-activite/tasks">Tâches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [ngClass]="{'active':tab2}" routerLink="/dash/projects/5/gestion-activite/tasks/list-tasks" (click)="changeDisplayTotab2()">liste des tâches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [ngClass]="{'active':tab3}" routerLink="/dash/projects/5/gestion-activite/tasks" (click)="changeDisplayTotab3()">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"   routerLink="/tabs" tabindex="-1" aria-disabled="true" #tab4 name="tab4" (click)="changeDisplayTotab4($event)" >Disabled</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
</ul>



<div *ngIf="tab1">
  <div class="container-fluid "><div class="row">
    <div class="col-md-12 ">
     <app-kanban></app-kanban>
    </div>
   
  




     <!--=============================== -->
    </div>
</div></div>
</div>



<div *ngIf="tab2">
  <router-outlet></router-outlet>
  
</div>


<div *ngIf="tab3">
  <app-calendar></app-calendar>
</div>
