
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$projecto-primary: mat.define-palette(mat.$indigo-palette);
$projecto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$projecto-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projecto-theme: mat.define-light-theme((
  color: (
    primary: $projecto-primary,
    accent: $projecto-accent,
    warn: $projecto-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($projecto-theme);

/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  overflow: auto;
}



body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(n) > button{
background-color: #1a73e8;
border-color: #1a73e8;
}


body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-view-harness.fc-view-harness-active > div > table > thead > tr > th > div > div > table > thead > tr > th.fc-col-header-cell.fc-day > div > a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}


#fc-dom-50{
   text-decoration: none;
}



body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td > div > div > div > table > tbody > tr:nth-child(n) > td.fc-day > div > div.fc-daygrid-day-top > a {
  text-decoration: none;
  color: black;
}
#fc-dom-34{
  text-decoration: none;
}
#fc-dom-6{
  text-decoration: none;

}

body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(n) > div > button.fc-next-button.fc-button.fc-button-primary{
   background-color: #1a73e8;
   border-color: #1a73e8;
}
body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-prev-button.fc-button.fc-button-primary{
  background-color: #1a73e8;
  border-color: #1a73e8;
}


body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(n) > h2{
   font-size: 15px;
   color: rgb(79, 79, 79);
}

body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridDay-button.fc-button.fc-button-primary{
   background-color: #1a73e8;
   
   border-color: #1a73e8;
}

body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridWeek-button.fc-button.fc-button-primary{
  background-color: #1a73e8;
   
  border-color: #1a73e8;
}

body > app-root > app-instance-ofproject > section > div > div > div > app-activites > app-tasks > div > div > app-calendar > div > div > full-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-listWeek-button.fc-button.fc-button-primary{
  background-color: #1a73e8;
   
  border-color: #1a73e8;
}