<div class="titel mt-5 d-block justify-content-center">
  <p class="mb-3 display-6 text-primary"><strong>Create your account</strong></p>
  <mat-radio-group [(ngModel)]="selectedOption" aria-label="Type de compte" class="d-flex justify-content-center  text-primary">
    <p class="mt-2 h5">Type of account : </p>
    <mat-radio-button color="primary" value="personel" checked="true">Personel</mat-radio-button>
    <mat-radio-button color="primary" value="entreprise">Entreprise</mat-radio-button>
    <app-dialog-info-compte></app-dialog-info-compte>
    <button type="button" class="btn" (click)="scrollToTarget()">
      <mat-icon color="primary">question_answer</mat-icon>
    </button>
  </mat-radio-group>
</div>
<div class="container mt-5" style="margin-top: 6%;">
  <div class="row mb-5">
    <div class="col-md-5">
      <aside class="left-side">
        <section class=" ">
          <div class=" ">
            <div class="row d-flex justify-content-start align-items-center">
              <div class="bg-transparent">
                <div class="card-body px-3 text-center">
                  <div class="mb-md-2 mt-md-5">
                      <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="selectedOption == 'entreprise' " style="width:100%;">
                      <mat-label>Company Name</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                    <div class="example-container">
                      <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput class="input" placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                      <div class="telephone">
                        <mat-form-field appearance="outline" class="country">
                          <mat-label>Select</mat-label>
                          <mat-select>
                            <mat-option value="one">+1</mat-option>
                            <mat-option value="two">+2</mat-option>
                            <mat-option value="two">+3</mat-option>
                            <mat-option value="two">+4</mat-option>
                            <mat-option value="two">+212</mat-option>
                            <mat-option value="two">+211</mat-option>
                            <mat-option value="two">+10</mat-option>
                            <mat-option value="two">+200</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="example-full-width number">
                          <mat-label>Telephone</mat-label>
                          <input type="tel" matInput placeholder="555-555-1234">
                        </mat-form-field>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" class="mt-5"
                      style="font-size: 17px; width:170px;height: 50px; border-radius:10px;">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="titre d-flex justify-content-center mt-5">
          <p class="mb-3 display-6 text-primary"><strong>FAQs</strong></p>
        </div>
        <faq-list></faq-list>
      </aside>
    </div>
    <!-- <h2 class="text-divider px-5"><span>Ou</span></h2> -->
    <div class="col-1 d-flex vh-80">
      <div class="vr"></div>
    </div>
    <div class="col-md-5 border-left mt-5">
      <oauth></oauth>
      <faq-form id="scrollTarget"></faq-form>
    </div>
  </div>
</div>


