.gradient-custom {
  /* fallback for old browsers */
  background:#fff;
  }
.cont{
  margin-top:3rem;
}
.icon{
 
  color: gray;
  border: #fff 1px solid;
}
.vide{
  height: 100px;
}

.titel{
display: block;
text-align: center;
justify-content: center;
width: 100%;
color: gray;
}
.names{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}