<div class="vide"></div>

<aside class="left-side">

  <section class="vh-90  gradient-custom">
    <div class="titel">
      <h2 class="fw-bold mb-2 text-uppercase">Welcome to our web site </h2>
      <p class="text-gray-50 mb-5">Please enter your login and password!</p>
    </div>
    <div class="container py-0 h-auto">
        <div class="row d-flex justify-content-start cont align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              
                <div class="card bg-transparent text-white" style="border-radius: 1rem;">
                  
                    <div  class="card-body  p-4 text-center">
  
                        <div class="mb-md-2 mt-md-4 pb-5">
                        
                          <div class="names">
                            <mat-form-field style="width:48%;">
                            
                              <mat-label style="color:black;">First Name</mat-label>
                              <input matInput>
                            </mat-form-field>
  
                            <mat-form-field style="width:48%;">
                              <mat-label>Last name </mat-label>
                              <input matInput>
                            </mat-form-field>
                          </div>
                        
                         
  
                            <div class="example-container">
                                <mat-form-field style="width: 100%;  " >
                                  <mat-label>Enter your email</mat-label>
                                  <input  matInput  class="input" placeholder="pat@example.com" [formControl]="email" required>
                                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                              </div>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
                        </div>
  
                        
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</aside>